*# Default Python ignores
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
download/
release/
*.egg-info/
.eggs/
*.egg
*.whl

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environments
.env
.venv
venv/
env/

# IDE / Editor specific
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sublime-*

# Tach specific cache
.tach/ 